/* Home.css */

.home-container {
    padding: 20px; /* Add some padding around the content */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text horizontally */
  }
  
  .home-title {
    font-size: 32px; /* Increase the font size of the title */
    color: #333; /* Set the color of the title */
    margin-bottom: 20px; /* Add some space below the title */
  }
  
  /* Style the list of movies */
  .movie-list-container {
    margin-top: 20px; /* Add some space above the movie list */
  }
  